body
{
    background-color: rgb(63, 63, 205);
    font-size: 90px;
    position: relative;
    align-content: center;
    top: 70%;
    left: 55%;
    transform: translateX(-40%) translateY(-30%);
}
.bigote
{
    width: 180px;       
    height: 180px;
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 
    150px 240px 0 0 currentColor,
    300px 240px 0 0 currentColor;
}
.bigote::before
{
    content: "";
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
border-radius: 0 0 0 100%;
    transform: rotate(-40deg);
    transform-origin: right 210px;
}
.bigote::after
{
    content: "";
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}